body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  height: 100vh;
  max-height: 100vh;
  width: 100%;
}

.show-controls-icon-button {
  fill: grey;
  opacity: 0.4;
  cursor: pointer;
}

.show-controls-icon-button:hover {
  opacity: 1;
}

.controls-button {
  position: fixed;
  bottom: 5px;
  left: 5px;
}
